<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <script src="https://unpkg.com/rxjs/bundles/rxjs.umd.min.js"></script>
    <!--script defer rel="script" src="../resources/js/main.js"></script-->
    <script defer rel="script" src="../resources/js/first.js"></script>
    <style>img { max-width: 30px; max-height: 30px; }</style>
</head>
<body>
    <input type="text" placeholder="Enter The team Name" />
    <div id="result">
        <table id = "display" border="1">
            <tr><th>Flag</th><th>Name</th></tr>
        </table>
    </div>
    
 </body>
</html>